@import '../../styles/colors.scss';

.navbar__header {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar__logo {
  margin-right: 7px;
}

.nav__dark {
  background-color: $black;
  color: $white;
}

.fixed {
  position: fixed;
}